body {
    display: block;
    background-image: url("assets/background.png");
    background-color: aliceblue;
    max-width: 2560px;
    margin: 0 auto;
    padding: 0 10%;
    font-family: 'consolas', Courier, arial;
    
}

.menu{
    background-color: #333333;
    width: 100%;
    height: 50px;
    padding 30px, 10px;
    
}

.logo{
    height: 49px;
    width: 49px;
    margin: 5px 0 0 5px;
    filter: invert(100%);
}

.menu-link{

    width: 0 auto;
    margin: 5px 5px 0 0;
    padding: 10px;
    float: right;
    font-weight: bold;
    
}

a{

    color: #ff0099;
}

.subtitle{

    color: #ff0099;
    font-size: 150%;
}

#name{
    
    margin: 100px 0 45px;
    font-size: 320%;
}

p{

width: 100%;
margin: 0 0 30px 0;
line-height: 140%

}

.separator{
    
    width: max-content;
    margin: 0 auto;
    padding: 40px 0;
}

.def-title{

    width: max-content;
    margin: 0 auto;
    padding: 30px;
    font-weight: bold;
    

}

.definitions{
    width: 100%;
    line-height: 150%;

}

.def-term{
    
    font-weight: bold;
}
